<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">


<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
	<div layout:fragment="content">
		<h1>Edit "<span th:text="${readingRecommendation.title}"></span>"</h1>


		<form th:object="${readingRecommendation}" th:action="@{/save}" action="#" method="post">

			<input type="hidden" th:field="*{id}" />

			<label for="title" class="Form-label">Title</label>
			<input type="text" class="form-control" id="title" th:field="*{title}" required />
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="link" class="Form-label">Link</label>
			<input type="url" class="form-control" id="link" th:field="*{link}" required />
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="description" class="Form-label">Description</label>
			<input type="text" class="form-control" id="description" th:field="*{description}" required />
			<div style="clear: both; display: block; height: 10px;"></div>


			<input class="btn btn-primary" type="submit" value="Save"></input>
		</form>

	</div>
</body>

</html>