<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<body>
	<div layout:fragment="content">
		<h1>Messages</h1>

		<ul>
			<li th:each="message: ${messages}">
				<span th:text="${message.content}"></span>

				<form method="post" th:action="@{/messages/edit}" class="edit-form">
					<input type="hidden" name="id" th:value="${message.id}" />
					<button class="btn btn-primary" type="submit">Edit</button>
				</form>
			</li>
		</ul>


		<a class="btn btn-primary" href="/messages/add">Add a message </a>

	</div>
</body>

</html>