<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<body>
	<div layout:fragment="content">
	
	<h1>Reading Recommendations</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="recommendation : ${recommendations}">
                    <td th:text="${recommendation.title}"></td>
                    <td th:text="${recommendation.link}"></td>
                    <td th:text="${recommendation.description}"></td>
                </tr>
            </tbody>
        </table>
		

		<a class="btn btn-primary" href="/recommendations/add">Add a recommendation </a>
	</div>
</body>
</html>